<div class="card officer-actions mb-3 shadow-sm">
    <div class="card-header">
        <h5 class="mb-0">{{ loadout.name }}</h5>
        {% if canEdit %}
            <a
                    href="{{ path('governor_equipment_loadout_delete', {id: gov.governorId, loadoutId: loadout.id}) }}"
                    class="btn btn-outline-danger btn-sm ml-2 px-2 py-0 float-right"
                    onclick="return confirm('Are you sure?');"
            >Delete</a>
            <a
                    href="{{ path('governor_equipment_loadout_edit', {id: gov.governorId, loadoutId: loadout.id}) }}"
                    class="btn btn-outline-secondary btn-sm ml-2 px-2 py-0 float-right"
            >Edit</a>
        {% endif %}
    </div>
    <div class="card-body mb-0">
        {% for item in loadout.items %}
            <div class="search-pill pill-border mb-3{% if item.specialTalent %} border-specialized{% endif %}">
                    <span class="pill-label" {% if item.specialTalent %}title="{{ item.specialTalent }}"{% endif %}>
                        {{ item.name }}
                    </span>
            </div>
        {% endfor %}
    </div>
</div>