{% extends 'base.html.twig' %}

{% block user_login %}{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h4>Add Officer Note for {{ gov.name }}</h4>
    </div>
    <div class="card-body">
        {{ form_start(form) }}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                {{ form_label(form.tldr, null, {'label_attr': {'class': 'input-group-text'}}) }}
            </div>
            {{ form_widget(form.tldr) }}
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                {{ form_label(form.note, null, {'label_attr': {'class': 'input-group-text'}}) }}
            </div>
            {{ form_widget(form.note) }}
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}