{% extends 'base.html.twig' %}

{% block title %}Governor index{% endblock %}

{% block body %}
    <h1>Governor index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Governor_id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for governor in governors %}
            <tr>
                <td>{{ governor.id }}</td>
                <td>{{ governor.governorId }}</td>
                <td>{{ governor.name }}</td>
                <td>
                    <a href="{{ path('governor_show', {'id': governor.id}) }}">show</a>
                    <a href="{{ path('governor_edit', {'id': governor.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('governor_new') }}">Create new</a>
{% endblock %}
