{% extends 'base.html.twig' %}

{% block page_title %}Scribe Corner{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h3>Snapshot: {{ snapshotInfo.name }}</h3>
    </div>
    <div class="card-body d-flex flex-row">
        <div class="p-2 pl-5">
            <h4>Incomplete</h4>
            {% for govSnapshot in incompleteSnapshots %}
                <p>
                    {{ govSnapshot.governor.name }}
                    <a href="{{ path('scribe_gov_snapshot_edit', { id: govSnapshot.id }) }}" class="btn btn-primary btn-sm">Complete</a>
                </p>
            {% endfor %}
        </div>
        <div class="p-2 pl-5">
            <h4>Missing</h4>
            {% for governor in missingGovs %}
                <p>
                    {{ governor.name }}
                    <a
                        href="{{ path('scribe_gov_snapshot_create', { govId: governor.id, snapshotUid: snapshotInfo.uid }) }}"
                        class="btn btn-primary btn-sm"
                    >Create</a>
                </p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}