{% extends 'base.html.twig' %}

{% block title %}Scribes{% endblock %}
{% block page_title %}Scribe Corner{% endblock %}

{% block body %}
{% for snapshotInfo in snapshots %}
    {% if snapshotInfo|default %}
        <div class="card mb-3 shadow-sm status-{{ snapshotInfo.status }}">
            <div class="card-header">
                <h3>
                    <a href="{{ path('scribe_snapshot_detail', {snapshotUid: snapshotInfo.uid}) }}">
                        {{ snapshotInfo.name }}
                    </a>
                </h3>
            </div>
            <div class="status-bar"></div>
            <div class="card-body mb-0">
                {% include 'scribe/snapshot_stats.html.twig' with {snapshotInfo: snapshotInfo} only %}
            </div>
        </div>
    {% endif %}
{% endfor %}
<div class="card mb-3 shadow-sm">
    <div class="card-header">
        <h3>Admin Actions</h3>
    </div>
    <div class="card-body mb-0">
        {% if is_granted(constant('App\\Entity\\Role::ROLE_SCRIBE_ADMIN')) %}
        <a  class="btn btn-warning" href="{{ path('scribe_snapshot_create') }}">Create Snapshot</a>
        {% endif %}
        <a class="btn btn-outline-primary ml-2" href="{{ path('create_import') }}">Import</a>
        <a class="btn btn-outline-primary ml-2" href="{{ path('export_index') }}">Export</a>
    </div>
</div>
{% endblock %}