<div class="search-pill pill-border">
    <span class="pill-label">Power</span> {{ gov.power|number_format }}
</div>
<div class="search-pill pill-border">
    <span class="pill-label">Kills</span> {{ gov.kills|number_format }}
</div>
<div class="search-pill pill-border">
    <span class="pill-label">T4 Kills</span> {{ gov.t4kills|number_format }}
</div>
<div class="search-pill pill-border">
    <span class="pill-label">T5 Kills</span> {{ gov.t5kills|number_format }}
</div>
<div class="search-pill pill-border">
    <span class="pill-label">Deads</span> {{ gov.deads|number_format }}
</div>