<div class="container">
    <div class="row mb-2">
        <div class="search-pill pill-border">
            <span class="pill-label">Power</span> {{ gov.power|custom_nf }}
        </div>
        <div class="search-pill pill-border">
            <span class="pill-label">Highest Power</span> {{ gov.highestPower|custom_nf }}
        </div>
        <div class="search-pill pill-border">
            <span class="pill-label">VIP</span> {{ gov.vip }}
        </div>
        <div class="search-pill pill-border">
            <span class="pill-label">Kills</span> {{ gov.kills|custom_nf }}
        </div>
        <div class="search-pill pill-border">
            <span class="pill-label">Deads</span> {{ gov.deads|custom_nf }}
        </div>
    </div>

    <div class="row mb-2">
        <div class="search-pill pill-border">
            <span class="pill-label">T1 Kills</span> {{ gov.t1kills|custom_nf }}
        </div>
        <div class="search-pill pill-border">
            <span class="pill-label">T2 Kills</span> {{ gov.t2kills|custom_nf }}
        </div>
        <div class="search-pill pill-border">
            <span class="pill-label">T3 Kills</span> {{ gov.t3kills|custom_nf }}
        </div>
        <div class="search-pill pill-border">
            <span class="pill-label">T4 Kills</span> {{ gov.t4kills|custom_nf }}
        </div>
        <div class="search-pill pill-border">
            <span class="pill-label">T5 Kills</span> {{ gov.t5kills|custom_nf }}
        </div>
    </div>

    <div class="row">
        <div class="search-pill pill-border">
            <span class="pill-label">Helps</span> {{ gov.helps|custom_nf }}
        </div>
        <div class="search-pill pill-border">
            <span class="pill-label">RSS Gathered</span> {{ gov.rssGathered|custom_nf }}
        </div>
        <div class="search-pill pill-border">
            <span class="pill-label">RSS Assistance</span> {{ gov.rssAssistance|custom_nf }}
        </div>
    </div>
</div>