<div class="container">
    <div class="row mb-2">
        <div class="search-pill pill-border">
            <span class="pill-label">Power</span> {{ gov.power|number_format }}
        </div>
        <div class="search-pill pill-border">
            <span class="pill-label">Highest Power</span> {{ gov.highestPower|number_format }}
        </div>
        <div class="search-pill pill-border">
            <span class="pill-label">Kills</span> {{ gov.kills|number_format }}
        </div>
    </div>

    <div class="row mb-2">
        <div class="search-pill pill-border">
            <span class="pill-label">T1 Kills</span> {{ gov.t1kills|number_format }}
        </div>
        <div class="search-pill pill-border">
            <span class="pill-label">T2 Kills</span> {{ gov.t2kills|number_format }}
        </div>
        <div class="search-pill pill-border">
            <span class="pill-label">T3 Kills</span> {{ gov.t3kills|number_format }}
        </div>
        <div class="search-pill pill-border">
            <span class="pill-label">T4 Kills</span> {{ gov.t4kills|number_format }}
        </div>
        <div class="search-pill pill-border">
            <span class="pill-label">T5 Kills</span> {{ gov.t5kills|number_format }}
        </div>
    </div>

    <div class="row">
        <div class="search-pill pill-border">
            <span class="pill-label">Deads</span> {{ gov.deads|number_format }}
        </div>
        <div class="search-pill pill-border">
            <span class="pill-label">Helps</span> {{ gov.helps|number_format }}
        </div>
        <div class="search-pill pill-border">
            <span class="pill-label">RSS Gathered</span> {{ gov.rssGathered|number_format }}
        </div>
        <div class="search-pill pill-border">
            <span class="pill-label">RSS Assistance</span> {{ gov.rssAssistance|number_format }}
        </div>
    </div>
</div>