<div class="search-pill pill-border">
    <span class="pill-label">Power</span> {{ gov.power|custom_nf }}
</div>
<div class="search-pill pill-border">
    <span class="pill-label">VIP</span> {{ gov.vip|custom_nf }}
</div>
<div class="search-pill pill-border">
    <span class="pill-label">Kills</span> {{ gov.kills|custom_nf }}
</div>
<div class="search-pill pill-border">
    <span class="pill-label">T4 Kills</span> {{ gov.t4kills|custom_nf }}
</div>
<div class="search-pill pill-border">
    <span class="pill-label">T5 Kills</span> {{ gov.t5kills|custom_nf }}
</div>
<div class="search-pill pill-border">
    <span class="pill-label">Deads</span> {{ gov.deads|custom_nf }}
</div>