<div class="search-gov card status-{{ gov.displayStatus }} mb-3">
    <div class="card-header">
        <h3 class="search-header float-left">
            <a href="{{ path('governor', {id: gov.id}) }}">{{ gov.name }}</a>
        </h3>
        <span class="gov-id search-pill pill-border ml-3">{{ gov.id }}</span>
        {% if gov.alliance %}
            <div class="search-pill pill-border">
                <span class="pill-label">{{ gov.alliance }}</span>
            </div>
        {% endif %}
        {% if actions|default %}
        <div class="float-right">
            {{ actions|raw }}
        </div>
        {% endif %}
    </div>
    <div class="status-bar" title="{{ gov.displayStatus }}"></div>
    <div class="card-body pb-1">
        <div class="search-pill pill-border">
            <span class="pill-label">Power</span> {{ gov.power|number_format }}
        </div>
        <div class="search-pill pill-border">
            <span class="pill-label">Kills</span> {{ gov.kills|number_format }}
        </div>
        <div class="search-pill pill-border">
            <span class="pill-label">Deads</span> {{ gov.deads|number_format }}
        </div>
        <div class="search-pill pill-border">
            <span class="pill-label">Helps</span> {{ gov.helps|number_format }}
        </div>
        <div class="search-pill pill-border">
            <span class="pill-label">RSS Assistance</span> {{ gov.rssAssistance|number_format }}
        </div>
        {% if gov.kvk4Ranking %}
            <div class="search-pill pill-border">
                <span class="pill-label">KVK 4 Rank</span> {{ gov.kvk4Ranking }}
            </div>
        {% endif %}
        {% if gov.kvk5Ranking %}
            <div class="search-pill pill-border">
                <span class="pill-label">KVK 5 Rank</span> {{ gov.kvk5Ranking }}
            </div>
        {% endif %}
    </div>
</div>