<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{{ site_title }}{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="hero {% block hero_class %}{% endblock %}">
            <h1 class="welcome-title">
                <a href="/">{{ site_title }}</a>
            </h1>

            {% block user_login %}
                <div class="menu">
                {% if app.user %}
                    {% include 'links.html.twig' with {} only %}
                {% endif %}
                </div>
            {% endblock %}
        </div>

        <div class="wrapper container">
            <h2 class="page-title mb-5">{% block page_title %}{% endblock %}</h2>
            {% block body %}{% endblock %}
        </div>

        <div class="wide">
            {% block wide_body %}{% endblock %}
        </div>

        <a href="http://janvt.io" target="_blank" class="janvt">
            <img src="{{ asset('images/janvt.jpg') }}" alt="" />
            by janvt
        </a>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
