{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lugal Member Search</h1>
    <form>
        <div class="input-group mb-3">
            <input
                type="text"
                name="search"
                value="{{ searchTerm }}"
                class="form-control-lg"
                placeholder="Player name"
                aria-label="Player name"
                aria-describedby="button-search"
            />
            <button class="btn btn-outline-secondary" type="submit" id="button-search">Search</button>
        </div>
    </form>

    {% if searchResult is not empty %}
        {% for gov in searchResult.governors %}
            <div class="search-gov card status-{{ gov.displayStatus }} mb-3">
                <div class="card-header">
                    <h5 class="title-pill">
                        <a href="{{ path('governor', {id: gov.id}) }}">{{ gov.name }}</a>
                    </h5>
                    {% if gov.alliance %}
                    <div class="title-pill pill-border">
                        <span class="pill-label">{{ gov.alliance }}</span>
                    </div>
                    {% endif %}
                    <div class="title-pill pill-border">
                        <span class="pill-label">Power</span> {{ gov.power|number_format }}
                    </div>
                    <div class="title-pill pill-border">
                        <span class="pill-label">Kills</span> {{ gov.kills|number_format }}
                    </div>
                </div>
                <div class="card-body">

                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
